* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    }

    body {
        background: blueviolet;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
.beginning {
    background: greenyellow;
    width: 80%;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.beginning h1{
    font-size: 65px;
    color: teal;
    text-align: center;
}
.quizpage {
    background: #fff;
    width: 80%;
    border-radius: 10px;
    

}

.quizpage h2 {
    font-size: 40px;
    color: black;
    text-align: center;
}

.btn {
    width: 100%;
    background: yellow;
    border: 2px solid;
    border-radius: 5px;
}
.btn:hover {
    color: teal;
    border: 9px;
    background: gray;
}
 #rightorwrong {
    display:none;
 }

 #next-btn{
    background: orange;
    display: none;
 }

 .inputField {
    background: white;
    color: black;
    width: 75%;
    font-size: 30px;
 }