* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    }

/* Color variables */
:root {
        --teal: rgb(203, 223, 242);
        --darkteal: rgb(49, 103, 103);
        --borderhue: rgb(27, 202, 199);
    }


body {
        background: var(--teal);
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        margin-top: 100px;
    }
/* Intro page that appears before test */
    .intropage{
        border: solid 3px var(--darkteal);
        text-align: center;
        margin: 75px;
        padding: 20px;
        width: 100vh;
        
    }
    .intropage h1 {
        padding: 10px;
    }
    .intropage p {
        font-size: 25px;
    }
/* Button to start quiz */
    #startbutton {
        width: 20%;
        color: var(--darkteal);
        font-size: 30px;
        margin: 15px;
    }
/* Running timer to display during quiz */
.timer{
    display:none;
    float:right;
    margin-bottom: 20px;
    border: solid var(--borderhue);
}
/* Wrapper that hides quiz questions until start quiz is clicked */
.quizstart{
    display: none;
}   
/*Class that controls the quiz title/question card styling */
.beginning {
    background: #fff;
    width: 900px;
    margin: auto;
    border: solid 5px var(--borderhue);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.beginning h1{
    font-size: 65px;
    color: var(--darkteal);
    text-align: center;
}
.quizpage {
    background: #fff;
    width: 80%;
    border-radius: 10px;
    

}

}
/* Question */
.quizpage h2 {
    font-size: 40px;
    color: black;
    text-align: center;
}

/* Answer buttons list */
#answer-options {
    margin-top: 15px;
}

/* Individual Answer Buttons */
.btn {
    width: 100%;
    background: var(--borderhue);
    border: 2px solid;
    border-radius: 5px;
}

/* Hover style for answer buttons */
.btn:hover {
    color: white;
    border: 9px;
    background: var(--teal);
}

/* Message that displays if answer was right or wrong */
 #rightorwrong {
    display:none;
 }


 .inputField {
    background: white;
    color: black;
    width: 75%;
    font-size: 30px;
 }
 
 .sendbutton{
    width: 20% ;
    font-size: 30px;
 }
.highscorecontainer {
    display: flex;
    flex-direction: column;
    float: left;
}
 #highscorenames {
    flex-direction:column;
    
 }